#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #ff6699;}

#customers tr:hover {background-color: #ff6699;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ff6699;
    color: white;
}
.msg
{
    font-weight: bold;
    color:red;
    font-size:16px;
    font-family:arial;
    text-decoration:underline;
}
